@import 'partial-mixins';
@import 'partial-vars';

/**
builder mixin used for column
creation
*/
@mixin columns {
  /**
  .grid__column--[phone,tablet,desktop]-1
  one column layout
  */
  &-1 {
    *[class^="grid__item"] {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }

  /**
  .grid__column--[phone,tablet,desktop]-2
  two column layout
  */
  &-2 {
    *[class^="grid__item"] {
      -ms-flex-preferred-size: calc(50% - (2 * #{$gutter-size}));
      flex-basis: calc(50% - (2 * #{$gutter-size}));
    }
  }

  /**
  .grid__column--[phone,tablet,desktop]-3
  three column layout
  */
  &-3 {
    *[class^="grid__item"] {
      -ms-flex-preferred-size: calc(33.33% - (2 * #{$gutter-size}));
      flex-basis: calc(33.33% - (2 * #{$gutter-size}));
    }
  }

  /**
  .grid__column--[phone,tablet,desktop]-4
  four column layout
  */
  &-4 {
    *[class^="grid__item"] {
      -ms-flex-preferred-size: calc(25% - (2 * #{$gutter-size}));
      flex-basis: calc(25% - (2 * #{$gutter-size}));
    }
  }

  /**
  .grid__column--[phone,tablet,desktop]-5
  five column layout
  */
  &-5 {
    *[class^="grid__item"] {
      -ms-flex-preferred-size: calc(20% - (2 * #{$gutter-size}));
      flex-basis: calc(20% - (2 * #{$gutter-size}));
    }
  }

  /**
  .grid__column--[phone,tablet,desktop]-6
  six column layout
  */
  &-6 {
    *[class^="grid__item"] {
      -ms-flex-preferred-size: calc(16.66% - (2 * #{$gutter-size}));
      flex-basis: calc(16.66% - (2 * #{$gutter-size}));
    }
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
grid class used as block
*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  max-width: $grid-size;
  margin: auto;
  margin-bottom: $gutter-size;
  
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /**
  .grid__column
  column element used to add column behavior
  */
  @include element("column") {
    /**
    .grid__column--phone-[1-6]
    phone modifier used to target small devices
    */
    @include modifier("phone") {
      @include minwidth($breakpoint-phone) {
        @include columns;
      }
    }

    /**
    .grid__column--tablet-[1-6]
    tablet modifier used to target medium devices
    */
    @include modifier("tablet") {
      @include minwidth($breakpoint-tablet) {
        @include columns;
      }
    }

    /**
    .grid__column--desktop-[1-6]
    desktop modifier used to target large devices
    */
    @include modifier("desktop") {
      @include minwidth($breakpoint-desktop) {
        @include columns;
      }
    }
  }

  /**
  .grid__item
  item element used to determine how much
  remaining space should be allocated to
  each item in grid
  */
  @include element("item") {
    border: 2px solid #000;
    margin-left: $gutter-size;
    margin-right: $gutter-size;

    /**
    .grid__item--0
    */
    @include modifier("0") {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
    }

    /**
    .grid__item--1
    */
    @include modifier("1") {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    /**
    .grid__item--2
    */
    @include modifier("2") {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
    }

    /**
    .grid__item--3
    */
    @include modifier("3") {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
    }

    /**
    .grid__item--4
    */
    @include modifier("4") {
      -webkit-box-flex: 4;
      -ms-flex: 4;
      flex: 4;
    }
  }
}






